body {
   margin: 0;
   }
.wrapper{
   margin: auto;
   width: 100%;
   max-width: 1530px;
}
.hamburger-menu {
   display: none;
}
.logo, .menu {
   display: inline-block;
}
.header {
   display: flex;
   justify-content: space-between;
   padding: 40px 0;
   margin-bottom: 133px;
}
.logo {
   position: relative;
   margin-right: 61%;
   padding-left: 44px;
   font: bold 24px/31px 'PT Serif', serif, Arial, Helvetica, sans-serif;
}
.logo__circle {
   position: absolute;
   left: 0;
   top: 43%;
   transform: translateY(-50%);
   width: 28px;
   height: 28px;
   border-radius: 50%;
   opacity: .7;
}
.logo__circle_color_blue{
   left: 8px;
   top: 63%;
   background: #C8DBFB;
}
.logo__circle_color_dark-blue {
   background: #0056EC;
}
.menu {
   display: flex;
   align-items: center;
   margin-right: 8px;
   padding-top: 8px;
}
.menu__item {
   position: relative;
   margin-right: 26px;
   font: 500 18px/24px 'Roboto', serif, Arial, Helvetica, sans-serif;
   color: #000 ;
   text-decoration: none;
}
.menu__item::after {
   bottom: 0;
   position: absolute;
   display: block;
   content:'';
   left: 0;
   width: 0;
   height: 3px;
   background:#0056EC;
   opacity: 0;
   transition:opacity .5s;
}
.menu__item:hover {
   opacity: 0.5;
   color: blue;
}
.menu__item:hover::after, .menu__item_active::after {
   opacity: 1;
   width: 100%;
}
.menu__item:last-child{
   margin-right: -1px;
}

.main {
   padding: 0 63% 245px 0;
   background: top right no-repeat url(image/picture.svg);
}
.main__title {
   margin: 0 0 40px 0;
   padding-top: 72px;
   font: 700 66px/87px 'PT Serif', serif, Arial, Helvetica, sans-serif;
   color: #000;
   width: 567px;
   height: 255px;
}
.main__title-text_highlight {
   background: linear-gradient(#FFF 0px, #FFF 18%, #ECF3FF 18%, #ECF3FF 100%);
}
.main__subtitle {
   margin:0 0 41px 0;
   font: 400 22px/26px 'Roboto', serif, Arial, Helvetica, sans-serif;
   color: #000;
   width: 455px;
   height: 52px;
}
.main__buttom {
   display: inline-block;
   padding: 18px 36px 19px 21px;
   font: 500 18px/21px 'Roboto', serif, Arial, Helvetica, sans-serif;
   color: #FFF;
   background: #0056EC;
   text-decoration: none;
   border-radius: 4px;
   transition: opacity .5s;
}
.main__buttom:hover {
   opacity: .5;
}
.footer {
   margin: 0;
   background: center no-repeat url(footer/точки.svg);
}

@media (max-width: 1440px) {
.wrapper {
   margin: auto;
   width: 100%;
  /* max-width: 1350px;*/
} 
.header {
   padding-right: 35%;
}
.main {
   background-size: 45%;
   background-position-x: 70%;
}
}

@media (max-width: 1367px) {
.wrapper {
   /*max-width: 930px;*/
   max-width: 1200px;
   min-width: 800px;
}
.header {
   padding-right: 26%;
   margin-bottom: 26px;
}
.menu__item {
      margin-right: 26px;
      font: 500 14px/16px 'Roboto';
}
.main {
      padding: -1px 64% 122px 0px;
      background-size: 55%;
      background-position-x: 100%;
      background-position-y: 23%;
}
.main__title {
   font: 700 50px/66px 'PT Serif';
}
.main__subtitle {
   font: 500 18px/21px 'Roboto';
   margin: -56px 0px 27px 0px;
  /* width: 367px;*/
   max-width: 500px;
   min-width: 200px;
}
.main__buttom {
   font: 500 14px/16px 'Roboto';
   padding: 19px 28px 15px 60px;
}
.menu__item::after {
   height: 0px;
}
.footer {
   margin: -123px;
}
}

@media (max-width: 1024px) {
.wrapper {
/* max-width: 932px;*/
   max-width: 950px;
   min-width: 700px;
}
.header {
   padding: 40px -1px;
   font: 500 14px/16px 'Roboto';
}
.logo {
   margin-right: 62%;
}
.main {
   padding: -1px 60% 150px 0;
}
.main__title {
   font: 700 50px/66px 'PT Serif';
}
.main__subtitle {
   font: 500 18px/21px 'Roboto';
}
.main__buttom {
   font: 500 14px/16px 'Roboto';
   padding: 19px 23px 14px 18px
}
}

@media (max-width: 768px) {
.header{
   padding: 24px;
   margin-bottom: 9px;
}
.menu {
   display: none;
}
.main {
   text-align: center;
   padding: 36% 0 0;
   background-size: 74%;
   background-position: top center;
}
.main__title {
   margin: 53px 55px -103px;
   font: 700 30px/39px 'PT Serif';
   width: 267px;
}
.main__subtitle {
   margin: 0px 53px 25px;
   font: 500 16px/18px 'Roboto';
   width: 275px;
}
.main__buttom {
   font: 500 14px/16px 'Roboto';
}
.footer {
   background: none;
}
/* скрываем чекбокс */
#menu__toggle {
   opacity: 0;
 }
 /* стилизуем кнопку */
 .menu__btn {
   display: flex; /* используем flex для центрирования содержимого */
   align-items: center;  /* центрируем содержимое кнопки */
   position: fixed;
   top: 20px;
   left: 20px;
   width: 26px;
   height: 26px;
   cursor: pointer;
   z-index: 1;
 }
 /* добавляем "гамбургер" */
 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
   display: block;
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #616161;
 }
 .menu__btn > span::before {
   content: '';
   top: -8px;
 }
 .menu__btn > span::after {
   content: '';
   top: 8px;
}
/* контейнер меню */
.menu__box {
   display: block;
   position: fixed;
   visibility: hidden;
   top: 0;
   left: -100%;
   width: 300px;
   height: 100%;
   margin: 0;
   padding: 80px 0;
   list-style: none;
   text-align: center;
   background-color: #ECEFF1;
   box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
 }
 /* элементы меню */
 .menu__item {
   display: block;
   padding: 12px 24px;
   color: #333;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 600;
   text-decoration: none;
 }
 .menu__item:hover {
   background-color: #CFD8DC;
 }
} 
