body {
   margin: 0;
   }
.wrapper{
   margin: auto;
   width: 100%;
   max-width: 1530px;
}
.logo, .menu {
   display: inline-block;
}
.header {
   display: flex;
   justify-content: space-between;
   padding: 40px 0;
   margin-bottom: 133px;
}
.logo {
   position: relative;
   margin-right: 61%;
   padding-left: 44px;
   font: bold 24px/31px 'PT Serif', serif, Arial, Helvetica, sans-serif;
}
.logo__circle {
   position: absolute;
   left: 0;
   top: 43%;
   transform: translateY(-50%);
   width: 28px;
   height: 28px;
   border-radius: 50%;
   opacity: .7;
}
.logo__circle_color_blue{
   left: 8px;
   top: 63%;
   background: #C8DBFB;
}
.logo__circle_color_dark-blue {
   background: #0056EC;
}
.menu {
   display: flex;
   align-items: center;
   margin-right: 8px;
   padding-top: 8px;
}
.menu__item {
   position: relative;
   margin-right: 26px;
   font: 500 18px/24px 'Roboto', serif, Arial, Helvetica, sans-serif;
   color: #000 ;
   text-decoration: none;
}
.menu__item::after {
   bottom: 0;
   position: absolute;
   display: block;
   content:'';
   left: 0;
   width: 0;
   height: 3px;
   background:#0056EC;
   opacity: 0;
   transition:opacity .5s;
}
.menu__item:hover {
   opacity: 0.5;
   color: blue;
}
.menu__item:hover::after, .menu__item_active::after {
   opacity: 1;
   width: 100%;
}
.menu__item:last-child{
   margin-right: -1px;
}

.main {
   padding: 0 63% 245px 0;
   background: top right no-repeat url(image/picture.svg);
}
.main__title {
   margin: 0 0 40px 0;
   padding-top: 72px;
   font: bold 66px/87px 'PT Serif', serif, Arial, Helvetica, sans-serif;
   color: #000;
   width: 567px;
   height: 255px;
}
.main__title-text_highlight {
   background: linear-gradient(#FFF 0px, #FFF 18%, #ECF3FF 18%, #ECF3FF 100%);
}
.main__subtitle {
   margin:0 0 41px 0;
   font: 400 22px/26px 'Roboto', serif, Arial, Helvetica, sans-serif;
   color: #000;
   width: 455px;
   height: 52px;
}
.main__buttom {
   display: inline-block;
   padding: 18px 36px 19px 21px;
   font: 500 18px/21px 'Roboto', serif, Arial, Helvetica, sans-serif;
   color: #FFF;
   background: #0056EC;
   text-decoration: none;
   border-radius: 4px;
   transition: opacity .5s;
}
.main__buttom:hover {
   opacity: .5;
}
.footer {
   margin: 0;
   background: center no-repeat url(footer/точки.svg);
}

@media (max-width: 1366px) {
.wrapper {
      max-width: 925px;
}
.header {
      padding-right: 33%;
      margin-bottom: 127px;
}
.logo {
      padding: 0 45% 100px 0;
}
.menu {
      font: 500 14px/16px 'Roboto', serif, Arial, Helvetica, sans-serif;
}
.main {
   padding: 0 60% 100px 0;
}
.main__title {
   font: bold 50px/66px 'Roboto', serif, Arial, Helvetica, sans-serif;
}
.main__subtitle {
   font: 500 18px/21px 'Roboto', serif, Arial, Helvetica, sans-serif;
}
.main__buttom {
   font: 500 14px/16px 'Roboto', serif, Arial, Helvetica, sans-serif;
}
}

@media (max-width: 1024px) {
.wrapper {
   max-width: 932px;
}
.header {
   padding: 40px 0;
}
.logo {
   margin-right: 56%;
}
.main {
   padding: 0 60% 150px 0;
}
.main__title {
   font: bold 50px/66px 'Roboto', serif, Arial, Helvetica, sans-serif;
}
.main__subtitle {
   font: 500 18px/21px 'Roboto', serif, Arial, Helvetica, sans-serif;
}
.main__buttom {
   font: 500 14px/16px 'Roboto', serif, Arial, Helvetica, sans-serif;
}
}

@media (max-width: 768px){
.menu {
   display: none;
}
.header{
   margin-bottom: 28px;
}
.main {
   text-align: center;
   padding: 74% 0 0;
   background-size: 74%;
   background-position: top center;
}
.main__title {
   margin: 0 auto;
   margin-bottom: 32px;
   font: bold 30px/39px 'PT Serif', serif, Arial, Helvetica, sans-serif;
   width: 267px;
}
.main__subtitle {
   margin-bottom: 25px;
   font: 500 16px/18px 'Roboto', serif, Arial, Helvetica, sans-serif;
   width: 275px;
}
.main__buttom {
   font: 500 14px/16px 'Roboto', serif, Arial, Helvetica, sans-serif;
}
.footer {
   background: none;
}
}